.material_block {
  width: 1274px;
  height: 490px;
  margin-left: 120px;
  margin-top: 280px;
}

.material_images_block {
  width: 622px;
  height: 490px;
  margin-left: 577px;
  margin-top: -461px;
}

.material_text_block {
  width: 600px;
  height: 379px;
}

.name_material {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
}

.material_btn {
  margin-top: 13px;

  cursor: pointer;
}
