.service_block {
  width: 940px;
  height: 467px;
  background: #ffffff;
  margin-left: 120px;
  margin-top: 2185px;
  position: absolute;
  left: 0;
  top: 0;

  .block_footer {
    width: 780px;
    height: 216px;
  }
}

.kitchen3 {
  width: 1152px;
  margin-left: 244px;
  margin-top: 1078px;
}

.service_footer {
  display: flex;
}
