.home {
  width: 1440px;

  .home_wrap {
    .text_logotype {
      position: absolute;
      left: 0;
      top: 0;
      color: #333333;
      margin-left: 120px;
      margin-top: 95px;

      .text_logotype_item {
        margin-top: -30px;
      }
    }

    .line {
      width: 715px;
      border: 1px solid #000;
      position: absolute;
      left: 0;
      top: 0;
      margin-left: 600px;
      margin-top: 181px;
    }
  }

  .kitchen_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    margin-left: 120px;
    margin-top: 540px;
  }
}

.text_sections {
  width: 252px;
  height: 525px;
  background: #2c3878;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 926px;
  margin-top: 300px;
}

.text_body {
  width: 156px;
  height: 441px;
  margin-left: 48px;
  margin-top: 40px;
}

.number_item {
  font-size: 52px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_text_item {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_section {
  width: 150px;
  height: 109px;
}
